# Build outputs
.astro
.output
.data
.nuxt
.nitro
.cache
dist
.wrangler

# Node dependencies
node_modules

# Logs
logs
*.log

# ESLint
.eslintcache

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
.playwright-mcp
tasks/
